// Spacing
.mtl {
  margin-top: 40px;
}
.pal {
  padding: 40px;
}
.ptl {
  padding-top: 40px;
}
.prl {
  padding-right: 40px;
}
.pbl {
  padding-bottom: 40px;
}
.pll {
  padding-left: 40px;
}

.pam {
  padding: 20px;
}
.ptm {
  padding-top: 20px;
}
.prm {
  padding-right: 20px;
}
.pbm {
  padding-bottom: 20px;
}
.plm {
  padding-left: 20px;
}
.mts {
  margin-top: 10px;
}
.mrs {
  margin-right: 10px;
}
.mbs {
  margin-bottom: 10px;
}
.mls {
  margin-left: 10px;
}
