@import "cardflip";
@import "helpers";
@import "spacing";
@import "typography";

// Pages
@import "home";
@import "about-me";


body {
    max-width: 700px;
    margin: 40px auto;
    color: $main-color;
    background: linear-gradient(to right, rgba(245,245,245,1) 0%, rgba(246,246,246,1) 47%, rgba(220,234,237,1) 100%);
}
